* {
  font-family: 'Segoe UI';
}
.el-color-picker__trigger {
  border: 0;
  border-radius: 50%;
}
.el-color-picker__color-inner {
  border-radius: 50%;
}
.el-color-picker__color {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 12px 2px rgba(1, 28, 44, 0.15);
}
.el-color-svpanel {
  width: 90%;
}
.el-color-picker__panel {
  /* box-sizing: border-box; */
  width: 200px;
  padding: 12px;
  border-radius: 10px;
}
.el-color-dropdown__btns .el-button--default {
  background-color: var(--purple);
  color: #fff;
  border: 0;
  border-radius: 23px;
  box-shadow: 0 1px 4px 2px hsla(236, 26%, 68%, 0.376);
  margin-top: 10px;
  font-weight: 400;
}
.el-color-svpanel__cursor > div {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  box-sizing: content-box;
  box-shadow: 0 0 0 0 #000;
}
.el-input--mini .el-input__inner {
  width: 180px;
}
.el-tooltip__popper {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}
.el-tooltip__popper.is-dark {
  background-color: #02073b;
}
.el-tooltip__popper[x-placement^='right'] .popper__arrow {
  border-right-color: #02073b;
}
.el-input__inner {
  border: 0;
  box-shadow: 0 2px 16px 1px hsla(236, 26%, 68%, 0.176);
  caret-color: var(--purple);
}
.el-input__inner::placeholder {
  color: rgba(21, 20, 57, 0.525);
  /* font-family: 'Segoe UI'; */
}
.el-textarea__inner {
  border: 0;
  box-shadow: 0 2px 16px 1px hsla(236, 26%, 68%, 0.176);
  caret-color: var(--purple);
}
.el-textarea__inner::placeholder {
  color: rgba(21, 20, 57, 0.525);
  /* font-family: 'Segoe UI'; */
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
  /* box-shadow: inset 0 0 3px rgba(151, 154, 194, 0.733); */
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(74, 88, 245, 0.733);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}
.el-upload-list--picture .el-upload-list__item {
  background-color: rgba(225, 227, 253, 0.16);
  border-image: url('../line.png') 2 round;
  border: 2px dashed rgba(74, 88, 245, 0.16);
  height: 70px;
}
.el-upload-list--picture
  .el-upload-list__item.is-success
  .el-upload-list__item-name {
  line-height: 50px;
  padding-left: 20px;
}
.el-upload-list--picture .el-upload-list__item-thumbnail {
  border-radius: 4px;
  height: 50px;
  width: auto;
}
.el-upload-list--picture .el-upload-list__item-status-label {
  background-color: var(--purple);
}
