<template>
  <div class="device">
    <div class="wrapper-views">
      <ul class="nav">
        <li
          v-for="(item, index) in views"
          :key="item.id"
          class="nav-item"
          @click="selectItem(item, index)"
          @mouseover="moveBotton(index)"
          @mouseleave="moveBottonReset(index)"
          :class="selectItemNav == index + 1 ?'select-item':''"
        >
          <span>{{item.name}}</span>
          <span @click="removeView(item)" class="icon-close">
            <font-awesome-icon icon="window-close" />
          </span>
          <div
            class="btn-hide"
            :class="hoverBotton == index ? 'btn-move':''"
            @mouseover="moveBotton(index)"
            @mouseleave="moveBottonReset(index)"
          >
            <arrow-left-icon v-if="index" @click="backItem(item, index)" />
            <p>Mover</p>
            <arrow-right-icon v-if="(views.length - 1) != index" @click="nextItem(item, index)" />
          </div>
        </li>
      </ul>
      <el-tooltip :disabled="disabled" effect="dark" content="Crear nueva vista" placement="right">
        <li @click="addView" class="plus">
          <font-awesome-icon icon="plus" />
        </li>
      </el-tooltip>
    </div>
    <div class="wrapper-device">
      <img
        :class="index == 1 ? 'opacity' : ''"
        @click="selectDevice(1)"
        src="../assets/Icons/Phone2x.png"
        alt="Phone"
      />
      <img
        :class="index == 2 ? 'opacity' : ''"
        @click="selectDevice(2)"
        src="../assets/Icons/Table2x.png"
        alt="Table"
      />
      <img
        :class="index == 3 ? 'opacity' : ''"
        @click="selectDevice(3)"
        src="../assets/Icons/Computer2x.png"
        alt="Computer"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      index: 3,
      selectItemNav: 1,
      disabled: false,
      handler: false,
      hoverBotton: null,
      timer: null
    };
  },
  computed: {
    views() {
      return this.$store.state.views;
    },
    errorView: {
      get() {
        return this.$store.state.errorView;
      },
      set(value) {
        this.$store.commit("SET_ERROR_VIEW", value);
      }
    },
    newView() {
      return this.$store.state.newView;
    }
  },
  methods: {
    selectDevice(n) {
      this.index = n;
      this.$store.commit("SET_INDEXDEVICE", n);
    },
    selectItem(item, index) {
      this.$store.dispatch("SEND_COMPONENTS");
      this.selectItemNav = index + 1;
      this.$store.dispatch("GET_COMPONENTS_BY_VIEW", item.id);
      this.$store.commit("SET_INDEXVIEW", item.id);
    },
    addView() {
      this.$prompt("Escribe el nombre de la vista", "Nombre", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar"
      }).then(({ value }) => {
        this.disabled = true;
        let params = {
          name: value,
          path: this.normalize(value)
        };
        this.$store.dispatch("CREATE_VIEW", params);
        this.selectItemNav = this.views.length + 1;
      });
    },
    removeView(item) {
      this.$confirm(`¿Desea eliminar la vista ${item.name}?`, "Advertencia", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "Vista eliminada",
            duration: 1000
          });
          this.$store.dispatch("REMOVE_VIEW", item.id);
          this.selectItemNav = 1;
          this.$store.dispatch("GET_COMPONENTS_BY_VIEW", this.views[0].id);
          this.$store.commit("SET_INDEXVIEW", this.views[0].id);
        })
        .catch(() => {});
    },
    normalize(str) {
      let from = "ÃÀÁÄÂÈÉËÊÌÍÏÎÒÓÖÔÙÚÜÛãàáäâèéëêìíïîòóöôùúüûÑñÇç",
        to = "AAAAAEEEEIIIIOOOOUUUUaaaaaeeeeiiiioooouuuunncc",
        mapping = {};

      for (var i = 0, j = from.length; i < j; i++)
        mapping[from.charAt(i)] = to.charAt(i);
      let ret = [];
      for (var i = 0, j = str.length; i < j; i++) {
        var c = str.charAt(i);
        if (mapping.hasOwnProperty(str.charAt(i))) ret.push(mapping[c]);
        else ret.push(c);
      }
      return ret
        .join("")
        .replace(/[^-A-Za-z0-9]+/g, "-")
        .toLowerCase();
    },
    moveBotton(index) {
      clearInterval(this.timer);
      this.hoverBotton = index;
    },
    moveBottonReset() {
      this.timer = setTimeout(() => {
        this.hoverBotton = null;
      }, 100);
    },
    backItem(item, index) {
      let itemCopy = this.views[index - 1];
      this.views[index - 1] = item;
      this.views[index] = itemCopy;
      this.selectItemNav = index - 2;
    },
    nextItem(item, index) {
      let itemCopy = this.views[index + 1] 
      this.views[index + 1] = item;
      this.views[index] = itemCopy;
      this.selectItemNav = index + 2;
    }
  },
  watch: {
    errorView() {
      this.$message.error(this.errorView.message);
    },
    views() {
      this.handler = true;
    },
    handler() {
      this.$store.dispatch("GET_COMPONENTS_BY_VIEW", this.views[0].id);
      this.$store.commit("SET_INDEXVIEW", this.views[0].id);
    },
    newView(value) {
      this.$store.dispatch("GET_COMPONENTS_BY_VIEW", value.id);
      this.$store.commit("SET_INDEXVIEW", value.id);
    }
  }
};
</script>

<style scoped>
.wrapper-device > img {
  height: 40px;
  margin: 20px 30px 0;
  cursor: pointer;
  opacity: 0.5;
  transition: all ease 0.3s;
}
.device {
  display: flex;
  justify-content: space-between;
}
.opacity {
  opacity: 1 !important;
}
.wrapper-views {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav {
  /* height: 100%; */
  list-style: none;
  display: flex;
}
.nav-item {
  position: relative;
  margin-right: 10px;
  margin-top: 35px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  padding: 9px 12px;
  border-radius: 4px;
  box-shadow: 0 5px 16px rgba(151, 154, 194, 0.363);
  line-height: 1;
  transition: all ease 0.2s;
}
.icon-close {
  display: none;
}
.nav-item:hover .icon-close {
  display: initial;
  font-size: 20px;
  position: absolute;
  top: -10px;
  background-color: #fff;
  color: rgb(253, 59, 59);
  border-radius: 50%;
}
.nav-item:hover {
  margin-top: 30px;
}
.plus {
  list-style: none;
  background-color: var(--green);
  color: var(--purple);
  font-size: 18px;
  margin-right: 10px;
  margin-top: 35px;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 5px 16px rgba(151, 154, 194, 0.363);
  line-height: 1;
  transition: all ease 0.2s;
}
.select-item {
  background-color: var(--purple);
  color: #fff;
  margin-top: 30px;
}
.btn-hide {
  display: none;
}
.btn-move {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  color: var(--purple);
  width: 100%;
  left: 0;
  padding: 3px 0;
  border-radius: 4px;
  line-height: 1;
}
.btn-move span {
  background-color: var(--green);
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-design-icon > .material-design-icon__svg {
  bottom: 0;
}
</style>
