<template>
  <div @mouseout="togglePutDrag(true)" class="preview">
    <div class="content" :class="device">
      <draggable
        class="dragArea header"
        :sort="false"
        v-model="previewHeaderData"
        :group="{ name: 'people', pull: 'clone', put: putDragHeader }"
        @change="log"
      >
        <div
          ref="header"
          class="list-group-item iso"
          v-if="previewHeaderData.length"
          @mousedown="setPutDragBody(false)"
        >
          <p>{{previewHeaderData[0].name}}</p>
          <div class="select-component">
            <span v-show="handlerHover">O</span>
            <!-- <span v-show="handlerHover">X</span> -->
          </div>
        </div>
      </draggable>
      <draggable
        class="dragArea list-group"
        :list="listComponents"
        :group="{ name: 'people', pull: 'clone', put: putDragBody }"
        @change="log"
      >
        <div
          class="list-group-item iso"
          v-for="(element, index) in listComponents"
          :key="element.name + index || element.reference.name + index"
          @click="select(element)"
          @mouseover="handleHoverComponent(index)"
          @mouseleave="removeHoverComponent"
          @mousedown="togglePutDrag(false, 'active')"
        >
          <p>{{element.name || element.reference.name}}</p>
          <div class="select-component">
            <span v-show="hoverIndex == index">O</span>
            <span @click="removeComponent(index)" v-show="hoverIndex == index">X</span>
          </div>
        </div>
      </draggable>
      <draggable
        class="dragArea footer"
        :sort="false"
        v-model="previewFooterData"
        :group="{ name: 'people', pull: 'clone', put: putDragFooter }"
      >
        <div
          class="list-group-item iso"
          v-if="previewFooterData.length"
          @mouseover="handleHoverHeader()"
        >
          <p>{{previewFooterData[0].name}}</p>
          <div class="select-component">
            <span v-show="handlerHover">O</span>
            <!-- <span v-show="handlerHover">X</span> -->
          </div>
        </div>
      </draggable>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";
export default {
  components: {
    draggable
  },
  created() {
    this.indexDevice;
  },
  data() {
    return {
      device: "big",
      hoverIndex: -1,
      // previewHeaderData: [],
      previewFooterData: [],
      handlerHover: false,
      // putDragHeader: false,
      // putDragBody: true,
      putDragFooter: true
    };
  },
  computed: {
    indexDevice() {
      if (this.$store.state.indexDevice) {
        return this.$store.state.indexDevice;
      } else {
        return 3;
      }
    },
    listComponents: {
      get() {
        return this.$store.state.listComponents;
      },
      set(value) {
        this.$store.commit("SET_LIST_COMPONENTS", value);
      }
    },
    previewHeaderData: {
      get(){
        return this.$store.state.previewHeaderData
      },
      set(value){
        this.$store.dispatch('GET_PREVIEW_HEADER_DATA', value)
      }
    },
    putDragHeader: {
      get() {
        return this.$store.state.putDragHeader
      },
      set(value){
        this.$store.commit('SET_PUT_DRAG_HEADER', value)
      }
    },
    putDragBody: {
      get() {
        return this.$store.state.putDragBody
      },
      set(value){
        this.$store.commit('SET_PUT_DRAG_BODY', value)
      }
    },
    header(){
      return this.$refs.header
    }
  },
  methods: {
    log: function(evt) {  
      if (evt.added && evt.added.element.component_type_id == 7) {
        this.listComponents.shift();
        this.listComponents.forEach(element => {
          // if (element.component_type_id == 7 || (element.reference && element.reference.id == 7)) {
          //   console.log(element)
          // }
        });
      }
      // console.log(evt.added.element.component_type_id);

      this.$store.commit("SET_BUTTON_SAVE", true);
      this.$store.commit("SET_toggleSettings", true);
      if (evt.added) {
        this.$store.commit("SET_COMPONENT_SELECT", evt.added.element);
      } else if (evt.moved) {
        this.$store.commit("SET_COMPONENT_SELECT", evt.moved.element);
      }
    },
    select(value) {
      if (event.path[0].tagName == "DIV") {
        this.$store.commit("SET_toggleSettings", true);
        this.$store.commit("SET_COMPONENT_SELECT", value);
      }
    },
    handleHoverComponent(index) {
      this.hoverIndex = index;
    },
    removeHoverComponent() {
      this.hoverIndex = -1;
    },
    removeComponent(index) {
      this.listComponents.splice(index, 1);
      this.$store.commit("SET_toggleSettings", false);
      this.$store.commit("SET_BUTTON_SAVE", true);
    },
    togglePutDrag(value, active) { 
      if (
        (event.target && event.target.className === "layout") ||
        active === "active"
      ) {
        this.putDragHeader = value;
      } else if(active === 'header') {
        this.putDragHeader = value;
      }
    },
    setPutDragBody(value) {    
      this.putDragBody = value;
    }
  },
  watch: {
    indexDevice(value) {
      if (value == 1) {
        this.device = "small";
      } else if (value == 2) {
        this.device = "medium";
      } else {
        this.device = "big";
      }
    },
  }
};
</script>

<style scoped>
.header {
  width: 100%;
  min-height: 150px;
  align-self: flex-start;
  background-color: #fff;
  overflow: auto;
  /* border: 1px solid #eee; */
}
.footer {
  width: 100%;
  min-height: 150px;
  align-self: flex-start;
  background-color: #fff;
  overflow: auto;
  border: 1px solid #eee;
}
.preview {
  width: 100%;
  height: auto;
  display: grid;
  overflow-y: auto;
}
.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 15px 46px rgba(151, 154, 194, 0.363);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow-y: auto;
  transition: all 0.3s;
}
.preview .content.small {
  width: 411px;
}
.preview .content.medium {
  width: 768px;
}
.preview .content.big {
  width: 100%;
}
.iso {
  width: 100%;
  height: 200px;
  background-color: red;
  position: relative;
}
.list-group {
  height: calc(100% - 304px);
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
iframe {
  width: 100%;
  height: calc(100% - 4px);
  border: 0;
}
.iso:hover .select-component {
  width: 100%;
  height: 100%;
  border: 6px solid var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  display: flex;
  justify-content: flex-end;
}
.iso:hover .select-component span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: var(--purple);
}
.iso:hover .select-component span:hover {
  cursor: pointer;
}
</style>
