<template>
  <div class="save-button" :style="!activatedButtonSave ? 'pointer-events: none': ''">
    <div class="circle" :class="activatedButtonSave ? 'hover': ''" @click="sendComponents" @mouseover="animationCircle" @mouseleave="hideAnimationCircle" ref="circle">
    </div>
    <check-bold-icon/>
    <div class="save">Guardar</div>
  </div>
  <!-- <div key="circle" @mouseover="animationCircle" @mouseleave="hideAnimationCircle" class="circulo" ref="circle">

  </div> -->
</template>

<script>
import progressBar from "progressbar.js";
export default {
  data() {
    return {
      options: {
        strokeWidth: 6,
        easing: 'easeInOut',
        duration: 900,
        color: '#fff',
        trailColor: 'transparent',
        trailWidth: 1,
        svgStyle: null
      },
    }
  },
  computed: {
    bar() {
      return new progressBar.Circle(this.$refs.circle, this.options)
    },
    activatedButtonSave(){
      return this.$store.state.activatedButtonSave
    },
    listComponents(){
      return this.$store.state.listComponents
    }
  },
  methods: {
    animationCircle() {      
      this.bar.animate(1.0)
    },
    hideAnimationCircle(){
      this.bar.animate(0.0)
    },
    sendComponents() {
      this.$store.dispatch("SEND_COMPONENTS", )
    }
  },
}
</script>

<style scoped>
.save-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  right: 80px;
  top: calc(100vh - 120px);
  cursor: pointer;
  transition: all ease .2s;
  font-size: 25px;
  color: #fff;
  /* pointer-events: none; */
}
.save-button:hover {
  color: transparent;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
}
.save-button:hover .save{
  display: initial;
  font-size: 16px;
  letter-spacing: -1px;
  /* font-weight: bold; */
  margin: 0 auto;
  line-height: 1;
  position: absolute;
  pointer-events: none;
  color: var(--purple)
}
.circle:hover {
  background-color: rgba(255, 255, 255, 0.966);
  width: 100%;
  height: 100%;
}
.circle:active {
  background-color: var(--purple);
  color: #fff;
}
.save-button:active .save {
  color: #fff;
}
.circle {
width: 90%;
height: 90%;
background-color: rgba(128, 128, 128, 0.238);
border-radius: 50%;
transition: all ease .2s;
}
.hover{
  background-color: var(--green);
  box-shadow: 0 0 16px 8px rgba(68, 41, 180, 0.19);
  /* animation: shake .5s ease infinite; */
}
.save-button > span {
  position: absolute;
  top: 14px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: all ease .2s;
}
.save {
 display: none;
}
@keyframes shake {
  0%{
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-.5px, 0px);
  }
  90% {
    transform: translate(0px, 0);
  }
  100% {
    transform: translate(0px, -.5px);
  }
}
</style>