<template>
  <div class="settings-box">
    <img class="left" src="../assets/Icons/left.png" @click="back()" />
    <div class="wrapper">
      <draggable
        v-if="!toggleSettings"
        class="dragArea list-group"
        :sort="false"
        :list="componentsByReference"
        :group="{ name: 'people', pull: 'clone', put: false }"
        @change="log"
        @mouseout.native="togglePutDrag({state:0}, false )"
        @start="onStart"
        @unchoose="onEnd"
      >
        <div
          class="list-group-item iso"
          @mousedown="togglePutDrag(element, true)"
          v-for="(element) in componentsByReference"
          :key="element.name"
        >{{ element.name }}</div>
      </draggable>
      <Options v-show="toggleSettings" :height="height" />
    </div>
  </div>
</template>

<script>
import Options from "./Options";
import { setTimeout } from "timers";
import isotope from "vueisotope";
import draggable from "vuedraggable";

export default {
  components: {
    Options,
    isotope,
    draggable
  },
  created() {
    this.filterOption;
  },
  data() {
    return {
      isotope: null,
      component: null,
      name: "",
      height: 1,
      indexImg: -1,
      toggle: false,
      thumbnails: [
        {
          id: 1,
          source: require("../assets/Icons/Img_separator.png")
        },
        {
          id: 2,
          source:
            "https://www.fotojet.com/template-imgs-thumb/design/facebook-cover/travel-city-2.jpg"
        },
        {
          id: 3,
          source:
            "https://i.pinimg.com/originals/b4/f9/cb/b4f9cbc1f18d9d5ce7ea05f1a64d8f22.png"
        },
        {
          id: 4,
          source:
            "https://i0.wp.com/perfectaseduccion.com/wp-content/uploads/2018/11/luna-llena-portadas-para-facebook-Fotosparafacebook.es-8.jpg?fit=770%2C285&ssl=1"
        },
        {
          id: 5,
          source: require("../assets/Icons/Img_separator.png")
        },
        {
          id: 6,
          source:
            "https://www.fotojet.com/template-imgs-thumb/design/facebook-cover/travel-city-2.jpg"
        },
        {
          id: 7,
          source:
            "https://i.pinimg.com/originals/b4/f9/cb/b4f9cbc1f18d9d5ce7ea05f1a64d8f22.png"
        },
        {
          id: 8,
          source:
            "https://i0.wp.com/perfectaseduccion.com/wp-content/uploads/2018/11/luna-llena-portadas-para-facebook-Fotosparafacebook.es-8.jpg?fit=770%2C285&ssl=1"
        },
        {
          id: 9,
          source:
            "https://webdeimagenes.com/wp-content/uploads/2018/02/9-22.jpg"
        }
      ],
      currentComponentHeader: []
    };
  },
  computed: {
    listComponents: {
      get() {
        return this.$store.state.listComponents;
      },
      set(value) {
        this.$store.commit("SET_LIST_COMPONENTS", value);
      }
    },
    componentsByReference() {
      return this.$store.state.componentsByReference;
    },
    toggleSettings: {
      get() {
        return this.$store.state.toggleSettings;
      },
      set(value) {
        this.$store.commit("SET_toggleSettings", value);
      }
    },
    options() {
      return {
        itemSelector: ".element-item",
        getFilterData: {
          "show all": el => {
            // console.log(el);
            return true;
          },
          select: function(el) {
            // console.log(el.name);
            return el.tag === "select";
          }
        }
      };
    },
    componentHeader: {
      get() {
        return this.$store.state.previewHeaderData;
      },
      set(value) {
        this.$store.commit("SET_PREVIEW_HEADER_DATA", value);
      }
    }
  },
  methods: {
    reset() {
      this.componentsByReference.forEach(element => {
        if (element.tag) {
          element["tag"] = "";
        }
      });
      this.$refs.cpt.filter("show all");
      this.toggleSettings = false;
    },
    filter(key) {
      key["tag"] = "select";
      if (key.tag) {
        this.$refs.cpt.filter("select");
        this.toggleSettings = true;
      }
    },
    back() {
      this.toggleSettings = false;
    },
    log: function(evt) {
      this.component = evt.added;
    },
    togglePutDrag(element, value) {
      console.log('uno');
      
      if (element.component_type_id === 1) {
        this.currentComponentHeader = this.componentHeader[0];
        this.$store.commit("SET_PUT_DRAG_HEADER", value);
        this.$store.commit("SET_PUT_DRAG_BODY", !value);
      } else if (element.state === 0) {
        this.$store.commit("SET_PUT_DRAG_HEADER", value);
        this.$store.commit("SET_PUT_DRAG_BODY", !value);
      }else {
        this.currentComponentHeader = null
      }
    },
    onStart() {
      if (
        this.currentComponentHeader &&
        this.currentComponentHeader.component_type_id === 1
      ) {
        this.componentHeader.splice(0, 1);
      }
    },
    onEnd() {
      if (
        this.currentComponentHeader != undefined &&
        this.componentHeader.length === 0
      ) {
        console.log(this.currentComponentHeader);
        
        this.componentHeader.push(this.currentComponentHeader);
      }
    }
  },
  watch: {
    // listComponents(newValue, oldValue) {
    //   this.toggleSettings = true;
    // }
  }
};
</script>

<style scoped>
.settings-box {
  max-width: 345px;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #fff;
  box-shadow: 0 15px 46px rgba(151, 154, 194, 0.363);
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
}
.wrapper {
  width: 100%;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  padding-right: 10px;
}
.thumb {
  opacity: 1;
  border-radius: 4px;
  box-shadow: 0 15px 46px rgba(151, 154, 194, 0.363);
  margin-bottom: 10px !important;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(74, 88, 245, 0.733);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}
.left {
  position: absolute;
  top: 20px;
  left: -25px;
  height: 35px;
  cursor: pointer;
  opacity: 0.5;
}
.left:hover {
  opacity: 1;
  transition: all ease 0.3s;
}
.element-item {
  width: 100%;
}
.iso {
  width: 100%;
  height: 200px;
  background-color: red;
  margin-bottom: 10px !important;
  cursor: move;
}
</style>
