<template>
  <div class="sidebar">
    <img
      src="../assets/Icons/Grupo 13@2x.png"
      alt=""
      class="icon-komercia"
    >
    <div class="wrapper-icons">
      <el-tooltip
        v-for="type in typesCoponents"
        :key="type.id"
        class="item"
        effect="dark"
        :content="type.label"
        placement="right"
        @click.native="selectType(type.id)"
      >
      <!-- <p style="position:relative; left: -25px; font-size: 12px">{{type.icon}}</p> -->
        <img
          :src="`http://www.components.komercia.co/images/${type.icon}`"
          :class="indexType == (type.id) ? 'opacity' : ''"
        >
      </el-tooltip>
    </div>
    <img
      src="../assets/Icons/Setting2x.png"
      alt=""
      class="icon-setting"
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      icons: [
        {
          name: "Menu",
          icon: require("../assets/Icons/Header2x.png"),
          redirect: ""
        },
        {
          name: "Banner",
          icon: require("../assets/Icons/Banner2x.png"),
          redirect: ""
        },
        {
          name: "Contenido",
          icon: require("../assets/Icons/Grid2x.png"),
          redirect: ""
        },
        {
          name: "Separador",
          icon: require("../assets/Icons/Separator2x.png"),
          redirect: ""
        },
        {
          name: "Video",
          icon: require("../assets/Icons/Video2x.png"),
          redirect: ""
        },
        {
          name: "Footer",
          icon: require("../assets/Icons/Footer2x.png"),
          redirect: ""
        },
        {
          name: "Contacto",
          icon: require("../assets/Icons/Contact2x.png"),
          redirect: ""
        }
      ],
      indexType: 1
    };
  },
  computed: {
    typesCoponents() {
      return  this.$store.state.typeComponents
    }
  },
  methods: {
    selectType(id) {
      this.indexType = id;
      // this.$store.commit("SET_INDEXTYPE", n);
      this.$store.dispatch("GET_COMPONENTS_BY_REFERENCE", id);
      // this.$store.dispatch("CLEAN_TAG");
    }
  }
};
</script>

<style scoped>
.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 46px rgba(151, 154, 194, 0.363);
  display: grid;
  grid-template-rows: 80px 400px 80px;
  align-content: space-between;
}
.icon-komercia {
  width: 75%;
  margin: 15px auto 0;
  cursor: pointer;
}
.icon-setting {
  width: 60%;
  margin: 15px auto;
}
.wrapper-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.wrapper-icons > img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  opacity: 0.3;
  transition: all ease 0.3s;
}
.wrapper-icons > img:hover {
  opacity: 1;
}
.opacity {
  opacity: 1 !important;
}
.right {
  float: right;
  width: 110px;
  font-size: 18px;
}
</style>
